
.title-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    h1 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 72px;
    }
    .sqiggle-img-container {
        display: flex;
        justify-content: flex-end;
    }

    .squiggle-img {
        width: 79px;
        height: 7.5px;
    }
}

