.header-container {
    margin-top: 150px;
    display: flex;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    .header-cta {
        word-wrap: normal;
        font-size: 4rem;
        line-height: 87px;
        margin-bottom: 45px;

    }
    p {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .header-btn {
        width: 15%;
    }
}

.header-right {
    width: 40%;
}
