.footer-container {
  background-color: #171837;
  color: white;
  margin-top: 128px;
  padding: 0 20%;
  .footer-top {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid rgba(188, 188, 255, 0.1) 2px;
    .nav-wrapper {
      width: 100%;
    }
  }
  .footer-bottom {
    height: 184px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bottom-left {
      width: 60%;
    }
    .bottom-right {
      width: 40%;
      margin-left: 64px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 30px;
      display: flex;
      flex-direction: column;
      .phone-number {
        color: #615EED;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
