body {
    font-family: "Poppins";
    color: #171837;
}

.container {
    min-height: 100%;
    padding: 30px 20%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.enroll-btn {
    background-color: #615EED;
    color: white;
}