.column-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;

    .color-title-container {
        margin-bottom: 15px;
    }

    &:nth-child(1) {
        .color-title-container {
            color: #19CB3F;
        }
        background: rgba(25, 203, 63, 0.03);
        .horizontal-bar {
            background: rgba(25, 203, 63, 0.15);
        }
    }

    &:nth-child(2) {
        .color-title-container {
            color: #FD5B67;
        }
        background: rgba(253, 91, 103, 0.03);
        .horizontal-bar {
            background: rgba(253, 91, 103, 0.15);
        }
    }

    &:nth-child(3) {
        .color-title-container {
            color: #FDA05F;
        }
        background: rgba(253, 160, 95, 0.03);
        .horizontal-bar {
            background: rgba(253, 160, 95, 0.15);
        }
    }

    .horizontal-bar {
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-header {
        height: 135px;

        .column-header-top {
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .column-header-bottom {
            height: 25%;
        }
    }

    .price-cell {
        height: 108px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        p {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .divider {
        border-bottom: solid rgba(23, 24, 55, 0.1) 2px;
    }

}

