.programs-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}

.title-box {
    width: 238px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;
}

.program-features {
    display: flex;
    flex-direction: column;
}

