.programs-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}

.program-features {
    display: flex;
    flex-direction: column;
}

.title-container {
    padding-left: 40px;
}